<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Elixir Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>

  <body>
    <%= @inner_content %>
  </body>
</html>
